{% extends 'base.html' %} {% block head %}
<title>{{ user.username }}</title>
<script src="{{ url_for('static', filename='js/user.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}" />
{% endblock %} {% block body %}

<h1>Profile</h1>
<script>
    const username = "{{ user.username }}";
    const userplatform = "{{ userplatform }}";
</script>
<div class='main'>
    <div class="user-profile">
        <div id='user-stats'>
            <div class="avatar">
                <img
                    id="avatar"
                    src="{{ url_for('static', filename='images/' + user.profile_pic) }}"
                    alt="avatar"
                    height="300px"
                />
            </div>
            <div class='user-info'>
                <p id="username" style="font-weight: bold; font-size: 1.5em;"> {{ user.username }} </p>
                <!-- <p> {{ user.uid }}</p> -->
                <p style="font-size: 0.95em;"> {{ userplatform.leetcode }}</p>
                <p style="font-size: 0.95em;"> {{ userplatform.geeksforgeeks }}</p>
            </div>
        </div>
        {% if current_user.is_authenticated and current_user.username == user.username %}
        <div class="edit-profile">
            <a href="{{ url_for('profile.profile') }}">Edit Profile 
                <img src="{{ url_for('static', filename='svg/other pen.svg') }}" id="edit-icon" alt="edit-icon" />
            </a>
        </div>
        <button id="update-stats" > Refresh <i class="fa fa-refresh"> </i> </button>
        {% endif %}
        <div id="refresh-overlay">
            <i class="fa fa-refresh fa-spin spinny-icon"></i>
        </div>
        
        <!--radar chart-->
        <div class='radar-wrapper'>
            <canvas id="radarChart"width="700" height="300"></canvas>
        </div>
    </div>

    <div class="statistics"> 
        <!--widget-->
        <div class="widget-wrapper">
            <div class="widget">
                <div class="circle-chart">
                    <canvas id="chart" width="200" height="200"></canvas>
                    <div class="overlay-circle">
                        <div class="inner-circle">
                            <p>
                                <span id="completed">0</span>/<br><span id="total">0</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="legend">
                    <!-- <div class="legend-item"><p><span id="school">School</span><br><span class="count" id="solved-school">0/0</span></p></div>
                    <div class="legend-item"><p><span id="basic">Basic</span><br><span class="count" id="solved-basic">0/0</span></p></div> -->
                    <div class="legend-item"><p><span id="easy">Easy</span><br><span class="count" id="solved-easy">0/0</span></p></div>
                    <div class="legend-item"><p><span id="medium">Med.</span><br><span class="count" id="solved-medium">0/0</span></p></div>
                    <div class="legend-item"><p><span id="hard">Hard</span><br><span class="count" id="solved-hard">0/0</span></p></div>
                </div>
            </div>
        </div>
        <!--widget end-->
        <!--contest widget: -->
        <div class='contest-widget-wrapper'>
            <canvas id="contest-widget"></canvas>
            <div class='contest-widget-stats'>
                <p>Highest Rating: <span style="font-weight: bold;">1612</span></p>
                <p>Current Rating: <span style="font-weight: bold;">1540</span></p>
                <p>Total Contests: <span style="font-weight: bold;">23</span></p>
            </div>
        </div>
        <!--heatmap-->
        <div class="heatmap">
            <div class='heatmap-stats'>
                <p>
                    Total Active Days: <span id="total-active-days" style="font-weight: bold;">0</span> 
                    Total Submissions: <span id="total-submissions" style="font-weight: bold;">0</span> 
                    Highest Streak: <span id="maximum-streak" style="font-weight: bold;">0</span>
                </p>
                <select id="calYear" name="calYear">
                    <option value="current">Current</option>
                    <option value="2023-01-01">2023</option>
                    <option value="2022-01-01">2022</option>
                </select>
            </div>
            <div id="cal-heatmap"></div>
            <div class='heatmap-bottom'>
                <a href="#" id="prev">← Previous</a>
                <p id="calYearRange">prevYear-curYear</p>
                <a href="#" id="next">Next →</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}