@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body{
    background: #1E1E1E;
    color: #fff;
}

.nav{
    text-decoration: none;
    font-size: 1em;
}

.nav li, a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

header{
    background-color: #0E0E0E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 8%;
}


.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0.1s;
}

.nav__links li a:hover{
    color: #FF9000;
}

h2, h3{
    color: #FF9000;
    text-align: center;
}

h1{
    margin-top: 20px;
    padding: 1em;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.1em;
}

/* .daily-align{
    display: flex;
    justify-content: space-evenly;
} */

.daily-div{
    margin-bottom: 5%;
}

.daily-title{
    background: #FF9000;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.current-date{
    color: #ccc;
    margin-left: 3%;
    margin-top: 5px;
}

.daily-title h2{
    color: #1E1E1E;
    text-align: left;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.daily-title h3{
    color: #1E1E1E;
    margin-right: 3%;
}

.daily-container{
    max-width: 800px;
    margin: 20px auto;
    margin-top: 0;
    padding: 20px;
    background: #D9D9D920;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.daily-problem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.daily-problem h3 {
    color: #fff;
    margin: 0;
    margin-left: 10px;
    flex-grow: 1; /* Allow the title to grow and fill remaining space */
}

.daily-problem a {
    background-color: #ccc;
    color: #1E1E1E;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.daily-problem a:hover {
    background: #ffffff;
}

.daily-problem > * {
    display: flex;
    align-items: center;
}

.daily-problem h3 {
    margin-right: auto;
}



.filterForm, .problems-container, .pagination{
    max-width: 800px;
    margin: 20px auto;
    margin-top: 0;
    padding: 20px;
    background: #D9D9D920;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.daily-container, .filterForm, .problems-container{
    margin-bottom: 15px;
}

.allproblems a{
    background: #FF9000;
    color: #1E1E1E;
    cursor: pointer;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.allproblems a:hover{
    background: #ffb617;
}

.daily-container div a{
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.timer{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3%;
}

.timer-box {
    display: inline-block;
    background-color: #353535;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
    /* font-size: 18px; */
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.timer-colon {
    display: inline-block;
    /* font-size: 18px; */
    font-size: 1.5em;
}

/* .problems-container a{
    display: block;
    background: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.problems-container a:hover{
    background: #0056b3;
} */

.filter-title{
    background: #FF9000;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.filter-title h2{
    color: #1E1E1E;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filterForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterForm label{
    flex: 1 0 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ccc;
}

.filterForm select, .filterForm button{
    flex: 1 0 48%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.filterForm select:focus, .filterForm button:focus{
    border-color: #FF9000;
}

.filter-button{
    display: flex;
    justify-content: center;
}

.allproblems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#apply{
    background: #FF9000;
    border: none;
    color: #1E1E1E;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 1%;
    transition: all 0.3s ease 0s;
}

#apply:hover{
    background: #ffb617;
}

.problemtb-container{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    width: 90%;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

th{
    background: #0E0E0E;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button{
    padding: 10px 20px;
    margin: 0 5px;
    background: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.pagination button:hover{
    background: #0056b3;
}

.pagination span{
    font-size: 1.2em;
    margin: 0 10px;
}