@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body{
    background: #1E1E1E;
    color: #fff;
}

.user-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container{
    background: linear-gradient(to bottom right, #35353520, #35353560);
    border: #353535 solid;
    width: 70%;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
}

.user-container h1{
    font-size: 1.8em;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-left: 5%;
    margin-bottom: 8%;
}

.user-container img{
    margin: 5%;
    margin-top: 0;
    height: 220px;
    border: #FF9000 solid 4px;
    border-radius: 25px;
    display: block;
}

.avatar{
    position: relative;
    display: inline-block;
}

.overlay-button {
    position: absolute;
    bottom: 5%;
    background-color: #4E4A4A;
    right: -8%;
    height: 40px;
    width: 40px;
    margin-right: 3%;
    border: #FF9000 solid;
    border-right: #FF9000 4px solid;
    border-bottom: #FF9000 4px solid;
    cursor: pointer;
    border-bottom-right-radius: 25px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.overlay-button label img {
    height: 18px;
    margin-top: 6px;
    width: 30px;
    border: none;
}

.overlay-button:hover {
    background-color: #1E1E1E;
    border-color: #FF9000;
}

.user-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    width: 60%;
    height: 250px;
    margin: 3%;
    margin-top: 2%;
    /* outline: red solid; */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.user-info h3{
    text-align: left;
}

.user-info h5{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.fields-container{
    margin: 1em auto;
}

.fields-container label{
    font-size: 0.8em;
}

.fields{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 10%;
    border: #cccccc90 solid 2px;
    background-color: #1E1E1E60;
    border-radius: 10px;
    width: 150px;
    padding: 8px;
}

.vertical{
    display: flex;
    align-items: center;
    height: 80%;
    border: solid #cccccc80 1px;
    margin: 0 10%;
}

.pfp-button{
    margin-left: 5%;
}

.edit-link{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit-link img{
    height: 16px;
    width: 30px;
    border: none;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    cursor: pointer;
}

.file-upload label img:hover {
    border-color: #777;
}
