@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    background: #1E1E1E;
    color: #fff;
}

.user-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container {
    background: linear-gradient(to bottom right, #35353520, #35353560);
    border: #353535 solid;
    width: 70%;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
}

.user-container h1 {
    font-size: 1.8em;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-left: 5%;
    margin-bottom: 8%;
}

.avatar img {
    height: 220px;
    margin: 5%;
    margin-top: 0;
    border: #FF9000 solid 4px;
    border-radius: 25px;
    display: block;
}

.avatar {
    position: relative;
    display: inline-block;
}

.overlay-button {
    position: absolute;
    bottom: 5%;
    background-color: #4E4A4A;
    right: -8%;
    height: 40px;
    width: 40px;
    margin-right: 3%;
    border: #FF9000 solid;
    border-right: #FF9000 4px solid;
    border-bottom: #FF9000 4px solid;
    cursor: pointer;
    border-bottom-right-radius: 25px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.overlay-button label img {
    height: 18px;
    margin-top: 6px;
    width: 30px;
    border: none;
}

.overlay-button:hover {
    background-color: #1E1E1E;
    border-color: #FF9000;
}

.user-container {
    max-height: 400px;
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    width: 60%;
    height: 250px;
    margin: 3%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.user-info h3 {
    text-align: left;
}

.user-info h5 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.fields-container {
    margin: 1em auto;
}

.fields-container label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 8px;
    margin-top: 30px;
}

.field-and-edit {
    display: flex;
    align-items: center;
}

.fields {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #cccccc90 solid 2px;
    background-color: #1E1E1E60;
    border-radius: 10px;
    width: 180px;
    padding: 8px;
}

.fields input[type="text"] {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.vertical{
    display: flex;
    align-items: center;
    height: 80%;
    border: solid #cccccc80 1px;
    margin: 0 10%;
    margin-top: 3%;
}

.pfp-button {
    margin-left: 5%;
}

.edit-container {
    background-color: #4E4A4A;
    padding: 8px;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 100%;
    align-self: flex-start;
    transition: background-color 0.3s ease 0s;
}

.edit-container:hover{
    background-color: #5E5A5A;
}

.edit-link {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit-link img {
    height: 16px;
    width: 16px;
    border: none;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    cursor: pointer;
}

.file-upload label img:hover {
    border-color: #777;
}

.textbox {
    display: flex;
    align-items: center;
    background: transparent;
    width: 150px;
    text-align: center;
    color: #fff;
    outline: none;
    font-size: 15px;
    font-weight: 400;
}

.textbox:focus {
    border: none;
    outline: none;
}

.cropper-container {
    background-color: #1E1E1E;
    z-index: 999;
    width: 30%;
}

.cropper-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: none;
    border-radius: 0;
    display: block;
}

.cropButton {
    padding: 10px 15px;
    border-radius: 10px;
    background: #FF9000;
    border: #ffb617 solid;
    color: #fff;
    font-weight: 600;
    margin: 5% 0;
    transition: all 0.3s ease 0s;
}

.cropButton:hover {
    background: #fe780a;
}

.cropButton-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-cropper {
    position: absolute;
    padding-top: 5%;
    padding-left: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirmButton {
    padding: 10px 15px;
    border-radius: 10px;
    background: #FF9000;
    border: #ffb617 solid;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.confirmButton:hover {
    background: #fe780a;
}

.confirmButton:disabled {
    background: #777;
    border-color: #999;
    cursor: not-allowed;
}

.confirmButton:disabled:hover {
    background: #777;
}
