@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'Public Pixel';
    src: url('/static/font/PublicPixel-eZPz6.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #1E1E1E;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% 8%;
    margin-top: 1%;
    border: #353535 solid;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #35353520, #35353560);
    padding: 20px;
}

.banner-container {
    background: url('/static/svg/contest-banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
    margin: 0;
    text-shadow: 2px 2px #bb5b00;
    font-family: 'Public Pixel', sans-serif;
    font-size: 34px;
}

.upcoming-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
}

.upcoming-contest-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upcoming-contest {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease 0s;
}


.contest-carousel {
    position: relative;
    overflow: hidden;
}

.card {
    width: 500px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-radius: 10px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    width: 500px;
    background: #FF9000;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title h2 {
    font-size: 1.1em;
    color: #1E1E1E;
    margin: 0 2%;
}

.contest-timer {
    display: flex;
    align-items: center;
}

.contest-timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    border-radius: 5px;
    padding: 6px;
    margin: 0 2px;
    font-size: 1.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
}

.contest-timer-colon {
    font-size: 1.2em;
}

.contestType-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    margin-top: 2%;
}

.contestType-container h3{
    margin: 5% 0;
}

.button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.participateButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 69%;
}


.participateButton-container a {
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 0.5em 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.participateButton-container a:hover {
    background: #efefef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.past-contest a {
    background: #1E1E1E;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.past-contest a:hover{
    outline: #353535 solid;
}

.past-banner {
    padding: 5px 2px;
}

.past-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.past-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.past-date-time{
    color: #ccc;
    font-weight: 500;
    font-size: 15px;
}

.filter-title{
    width: 395px;
}

.past-filterForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 80%;
    margin: 5% auto;
}

.past-filterForm-content{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    padding-bottom: 3%;
    border: #353535 solid;
    border-radius:  10px;
}

.past-filterForm-content select{
    padding: 0 5%;
    height: 40px;
    width: 300px;
    margin-top: 2%;
    border-radius: 4px;
    outline: none;
}

.past-filterForm-content select option {
    border-radius: 0;
}

.past-filterForm-content button{
    margin-top: 24px;
    height: 40px;
    max-width: 150px;
    padding: 0 5%;
    width: 200px;
    background: #FF900020;
    border: #FF9000 solid;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    margin-left: 1em;
    font-size: 0.9em;
}

.past-filterForm-content button:hover{
    background: #FF900040;
}

.past-filterForm-content label{
    font-size: 15PX;
    font-weight: 600;
    color: #ccc;
}

.platform-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.past-filterForm-content img{
    margin-top: 3%;
    margin-right: 12%;
    height: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background: #ddd;
    color: #1E1E1E;
    border: none;
    height: 35px;
    width: 35px;
    padding: 10px;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
}

.pagination button[id="prev"]{
    padding-right: 20px;
}
.pagination button[id="next"]{
    padding-left: 12px;
}

.pagination span {
    margin: 0 10px;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-button {
    background-color: #FF900020;
    color: #fff;
    position: relative;
    top: 7.5%;
    border: #FF9000 solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
        outline: none;
}

.below-carousel-button {
    background: #1E1E1E;
    color: transparent;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    border-radius: 100px;
    position: absolute;
    top: 51%;
    z-index: 990;
    border: none;
    outline: none;
}

.carousel-button.prev, .below-carousel-button.prev {
    left: -10%;
}

.carousel-button.next, .below-carousel-button.next {
    right: -10%;
}

.carousel-button:hover {
    background-color: #FF900040;
}


/* .vertical {
    display: flex;
    align-items: center;
    height: 80%;
    padding-bottom: 20%;
    border: solid #cccccc80 1px;
    margin: 0 2%;
    margin-top: 8%;
} */


.prev{
    padding-left: 6px;
}

.next{
    padding-right: 6px;
}

.gfg-contests, .leet-contests {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    width: 300px;
    padding: 10px;
    margin: 0 10px;
}

.no-contest{
    width: 420px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-carousel-buttons{
    display: none;
}

.carousel-indicator {
    border: none;
    background-color: #ddd;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #FF9000;
}

.indicator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    box-shadow: 0 8px 12px #24242420, 0 -8px 12px #1E1E1E90;
    height: 30px;
    width: 100%;
    height: 50px;
    position: relative;
    top: 39%;
    z-index: 9999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
