@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
}

body {
    background: #1E1E1E;
    color: #fff;
    padding-top: 80px;
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: #353535;
    border-radius: 100vw;
    margin-block: 0.8em;
    border: 2px solid #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background-color: #45D3F6;
    border-radius: 100vw;
    background-clip: content-box;
    transition: all 0.3s ease 0s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #21a9ee;
}

/* Firefox Scrollbar */
@supports (-moz-appearance:none) {

    html {
        scrollbar-width: thin;
        scrollbar-color: #45D3F6 #353535;
        border-radius: 100vw;
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: #21a9ee;
    }
}

.nav {
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 10%;
    margin-left: 4%;
    z-index: 9000;
}

.nav li, a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.nav-container {
    background-color: #0E0E0E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 8%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.logo {
    cursor: pointer;
    height: 40px;
}

.login{
    background-color: #45D3F6;
    color: #fff;
    padding: 0 25px;
    height: 38px;
    border-radius: 100px;
    text-align: center;
    border: #a9f1ff solid;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}

.login:hover{
    background-color: #21a9ee;
}

.login-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 30px;
}

.nav__links li img{
    height: 28px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #45D3F6;
}

.user {
    margin-right: 2%;
}

.user-div {
    border: #a9f1ff solid 2px;
    background: #45D3F6;
    height: 38px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.3);
}

.user-div p {
    padding: 15px;
    padding-left: 10px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.user-div img {
    height: 38px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: #a9f1ff solid 2px;
    border-left: none;
    transition: all 0.3s ease 0s;
}

.user-div:hover img, .user-div:focus img {
    border-color: #a9f1ff;
}

.user-div:hover, .user-div:focus {
    border: #a9f1ff solid 2px;
    background: #21a9ee;
}

h2, h3 {
    color: #a9f1ff;
    text-align: center;
}

h1 {
    margin-top: 20px;
    padding: 1em;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.1em;
}

.daily-align {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.daily-bigdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 8%;
    margin-top: 1%;
    border: #353535 solid;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #35353520, #35353560);
}

.daily-bigdiv h1 {
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 2em;
}

.daily-div {
    margin-bottom: 5%;
}

.daily-title {
    background: #45D3F6;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.current-date {
    color: #ccc;
    margin-left: 3%;
    margin-top: 5px;
}

.daily-title h2 {
    font-size: 1.3em;
    color: #1E1E1E;
    text-align: left;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.daily-title h3 {
    color: #1E1E1E;
    margin-right: 3%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.daily-container {
    margin: 20px auto;
    width: 550px;
    height: 70%;
    margin-top: 0;
    padding: 20px;
    background: #D9D9D920;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.daily-problem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.daily-problem h3 {
    color: #fff;
    text-align: left;
    margin: 0;
    width: 60%;
}

.daily-problem a {
    display: inline-block;
    background-color: #45D3F620;
    color: #fff;
    min-height: 40px;
    min-width: 140px;
    border-radius: 10px;
    border: #45D3F6 solid;
    transition: background-color 0.3s ease 0s;
}

.daily-button-container {
    width: fit-content;
    border-radius: 10px;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.daily-problem a:hover {
    background: #45D3F640;
}

.daily-problem > * {
    display: flex;
    align-items: center;
}

.daily-problem h3 {
    margin-right: auto;
}

.daily-container {
    margin-bottom: 15px;
}

.daily-container div a {
    margin-right: 2%;
    margin-left: 2%;
    width: 25%;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.timer {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3%;
}

.timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
    font-size: 1.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45px;
    height: 45px;
}

.timer-colon {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(33, 169, 238, 0.7);
    color: rgb(18, 102, 144);
}

.stats-tags {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-right: 5%;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
}

.tags-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3px;
    font-size: 0.7em;
    font-weight: 600;
}

.topic {
    color: #ddd;
    border: #ddd solid 2px;
}

.topic-more {
    background-color: #ddd;
    color: #333;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.company {
    margin-bottom: 10px;
    color: #a9f1ff;
    border: #a9f1ff solid 2px;
}

.company-more {
    background-color: #a9f1ff;
    color: #333;
    padding: 5px;
    cursor: pointer;
}

.stats {
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: 600;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

/* .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1E1E1E;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: -8px;
    z-index: 1001;
} */


.tooltip, .company-tooltip {
    display: none;
    position: absolute;
    background: #0E0E0E;
    font-weight: 600;
    color: #ddd;
    font-size: 0.7em;
    padding: 8px;
    max-width: 120px;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: #737373 solid 2px;
}

.tooltip::before, .company-tooltip::before{
    width: 8px;
    height: 8px;
    border-top: solid #737373 2px;
    border-right: 0;
    border-left: solid #737373 2px;
    border-bottom: 0;
    transform: rotate(45deg);
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: -5px;
    left: 50%;
    z-index: 1001;
    background: #0E0E0E;
    content: '';
}

.tooltip ul, .company-tooltip ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: fit-content;
    position: relative;
    right: 17px;
    max-height: 150px;
    overflow-y: auto;
}

.tooltip li, .company-tooltip li {
    margin-bottom: 12px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: -2px;
    text-align: center;
}

.tooltip ul::-webkit-scrollbar-track,
.company-tooltip ul::-webkit-scrollbar-track{
    border: 1px #0E0E0E solid;
    margin-block: 1em;
}

.tags {
    position: relative;
}

.moreTag{
    height: 25px;
    width: 60px;
}

.tagList{
    width: fit-content;
}


@media only screen and (min-width: 1200px){
    .nav-container {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width: 768px) {
    .nav-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: fit-content;
        z-index: 9000;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav li, a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
    }

    .logo {
        display: none;  /* Hide the logo on mobile devices */
    }

    .nav__links {
        list-style: none;
        display: flex;  /* Use flexbox to align items in a line */
        justify-content: center;  /* Center the nav links horizontally */
        align-items: center;  /* Center the nav links vertically */
        width: 100%;
    }

    .nav__links li {
        padding: 0 30px;  /* Adjust padding to fit better on smaller screens */
        font-size: 0.9em;
    }

    .nav__links li a {
        transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover {
        color: #45D3F6;
    }

    .login{
        background-color: #45D3F6;
        color: #fff;
        padding: 0 25px;
        height: 38px;
        border-radius: 100px;
        text-align: center;
        border: #a9f1ff solid;
        transition: all 0.3s ease 0s;
        display: flex;
        align-items: center;
    }
    
    .login:hover{
        background-color: #21a9ee;
    }
    
    .login-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .user {
        margin-right: 2%;
    }

    .user-div {
        border: #a9f1ff solid 2px;
        background: #45D3F6;
        height: 38px;
        border-radius: 100px;
        transition: all 0.3s ease 0s;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-div p {
        padding: 15px;
        padding-left: 10px;
        color: #fff;
        transition: all 0.3s ease 0s;
        text-shadow: 2px 4px 5px #21a9ee;
    }

    .user-div img {
        height: 38px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: #a9f1ff solid 2px;
        border-left: none;
        transition: all 0.3s ease 0s;
    }

    .user-div:hover img, .user-div:focus img {
        border-color: #a9f1ff;
    }

    .user-div:hover, .user-div:focus {
        border: #a9f1ff solid 2px;
        background: #21a9ee;
    }
}

