h1 {
    padding-left: 100px;
    padding-right: 100%;
}

.bold span{
    font-weight: bold;
}

.avatar img {
    height: 220px;
    margin: 5%;
    margin-top: 0;
    border: #FF9000 solid 4px;
    border-radius: 15px;
    display: block;
}

.avatar {
    position: relative;
    display: inline-block;
}

.edit-profile {
    width: 300px;
    height: 2em;
    border-radius: 0.5em;
    color: #fff;
    background-color: #FF9000;
    display: flex; /*flex because text & icon wont line up*/
    justify-content: center;
    align-items: center;
}

.edit-profile a{
    font-weight: 500;
}

#update-stats {
    background-color: #434343;
    color: white;
    border: solid 0px;
    padding: 10px;
}

.user-info, .statistics {
    background-color: #434343;
    border-radius: 20px;
}

.spinny-icon {
    font-size: 10em;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 20%;
}

#refresh-overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transform: translateZ(0); /*gpu to render*/
    z-index: 4; 
    cursor: pointer; 
}

#edit-icon {
    height: 1em;
}

select {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: #4E4A4A;
    color: #fff;
} 
option{
    background-color: #4E4A4A;
    color: #eee;
}