.widget-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    margin: 100px;
}

.widget {
    text-align: center;
    color: white;
    display: flex;
    border: solid 2px #555;
    border-radius: 25px;
    padding: 0px 25px 0 25px ;
    align-items: center;
}

.circle-chart {
    position: relative;
    display: inline-block;
}

#chart {
    position: relative;
    z-index: 1;
}

#completed {
    font-size: x-large;
    font-weight: bolder;
}

#total {
    font-size: smaller;
}

.overlay-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    background-color: #333333;
    border-radius: 50%;
    border: solid 4px rgb(91, 91, 91);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 70%;
    height: 70%;
    background-color: #252525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    z-index: 3;
}

.legend {
    padding: 25px;
}

.legend-item {
    font-weight: bold;
    padding: 5px;
}

#school {
    color: #ff44ff;
}

#basic  {
    color: #57FFFF;
}

#easy {
    color: #3FD63F;
}

#medium {
    color: #FFD300;
}

#hard {
    color: #FF4C4C;
}

#count {
    font-size: small;
}
