<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <script type="text/javascript">
        const dailyUrl = "{{ url_for('daily') }}";
    </script>

    {% block head %} {% endblock %}


</head>
<body>

    
    <div class="nav">
        <a href="{{url_for('index')}}"> Home</a>
        {% if current_user.is_authenticated %} 
            <a href="{{ url_for('logout')}}"> Logout  </a>
            <a href="{{ url_for('profile')}}"> Edit_Profile  </a>

        {% else %}
            <a href="{{ url_for('login')}}"> Login  </a>
            <a href="{{ url_for('register')}}"> Register  </a>
        {% endif %}
    </div>

    {% block body %} {% endblock %}
</body>
</html>