<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript">
        const dailyUrl = "{{ url_for('daily') }}";
    </script>

    {% block head %} {% endblock %}


</head>
<body>
    <header>
        <a href="{{url_for('index')}}">
            <img class="logo" src="{{ url_for('static', filename='svg/codehub.svg') }}" alt="logo" height="35px">
        </a>
        <div class="nav">
            <ul class="nav__links">
                <li><a href="{{url_for('index')}}"> Home</a></li>
                <li><a href="{{ url_for('login')}}"> Login  </a></li>
                <li><a href="{{ url_for('register')}}"> Register  </a></li>
                <li><a href="{{ url_for('profile')}}"> Edit_Profile  </a></li>
            </ul>
        </div>
        <a href="">User</a>
    </header>

    {% block body %} {% endblock %}
</body>
</html>