{% extends 'base.html' %}
{% block head %}
    <title> Contest </title>
    <script src="{{ url_for('static', filename='js/contest.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contest.css') }}">
{% endblock %}

{% block body %}
    <div class="container banner-container">
        <div class="banner-content">
            <img src="{{ url_for('static', filename='svg/trophy.svg') }}" alt="trophy" height="40px">
            <h1>CONTESTS</h1>
            <img src="{{ url_for('static', filename='svg/trophy.svg') }}" alt="trophy" height="40px">
        </div>
    </div>

    <div class="container">
        <h1>Upcoming Contests</h1>
        <div class="upcoming-contest"></div>
    </div>

    <div class="container">
        <div class="past-contest">
            <h2>Past Contests</h2>
    
            <div class="filterForm">
                <label for="platform">Platform:</label>
                <select id="platform" name="platform">
                    <option value="all">All</option>
                    <option value="geeksforgeeks">GeeksForGeeks</option>
                    <option value="leetcode">LeetCode</option>
                </select>
                <button class="filter-button" id="applyFilter">Apply</button>
            </div>
    
            <div class="" id="past-contest-container">
            </div>
    
            <div class="pagination">
                <button id="prev" onclick="prevPage()">◄</button>
                <span id="page">1</span>
                <button id="next" onclick="nextPage()">►</button>
            </div>
        </div>
    </div>

    <div id="wordsContainer">
        
    </div>

{% endblock %}
