{% extends 'base.html' %} {% block head %}
<title>Home</title>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %} 

{% block body %}
<h1>Home</h1>
<p>Welcome to the home page!</p>

{#  
<div class="test">
    <h2>Database</h2>
    <ul>
        {% for person in people %}
        <li>
            {{ person }}
            <button onclick="deletePerson( {{ person.pid }} )">Delete</button>
        </li>
        {% endfor %}
    </ul>
</div>
#}

<p>{{ logged_in }}</p>

<div>
    <h2>Daily</h2>
    <div id="daily-container" class="daily-container"></div>
</div>

<div class="allproblems">
    <h2>Problems</h2>
    <div class="filterForm">
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="">All</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
    
        <label for="platform">Platform:</label>
        <select id="platform" name="platform">
            <option value="geeksforgeeks">GeeksForGeeks</option>
            <option value="leetcode">LeetCode</option>
        </select>
    
        <button onclick="applyfilter()" id="apply">Apply</button>
    </div>



    <table id="problemstb">
        <thead>
            <tr>
                <th>Problem ID</th>
                <th>Problem Name</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="problems">

        </tbody>

    </table>

    <div class="pagination">
        <button id="prev" onclick="prevPage()">Prev</button>
        <span id="page">1</span>
        <button id="next" onclick="nextPage()">Next</button>
    </div>
</div>




{#
<script type="text/javascript">
    function deletePerson(pid) {
        fetch('{{ url_for("delete", pid=pid) }}' + "/" + pid, {
            method: "DELETE",
        })
            .then((response) => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Failed to delete person with pid", pid);
                }
            })
            .catch((error) => {
                console.error("Some Error Occurred", error);
            });
    }
</script>

#} 


{% endblock %}
