{% extends 'base.html' %} {% block head %}
<title>Home</title>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %} 

{% block body %}
<h1 class="welcome">Welcome👋</h1>

<p>{{ logged_in }}</p><br>

<div class="daily-bigdiv">
    <h1>Daily Challenge 🎯</h1>
    <div class="daily-align">
        <div class="daily-div">
            <div class="daily-title">
                <h2>GeeksForGeeks</h2>
                <div class="timer" id="gfg-timer">
                    <span id="gfg-hours" class="timer-box"></span>
                    <span class="timer-colon">:</span>
                    <span id="gfg-minutes" class="timer-box"></span>
                    <span class="timer-colon">:</span>
                    <span id="gfg-seconds" class="timer-box"></span>
                </div>
            </div>
            <div class="daily-container" id="gfg-daily-container">
                <h4 id="gfg-date" class="current-date"></h4>
                <div id="gfg-daily-content" class="daily-content"></div>
            </div>
        </div>
        
        <div class="daily-div">
            <div class="daily-title">
                <h2>LeetCode</h2>
                <div class="timer" id="leet-timer">
                    <span id="leet-hours" class="timer-box"></span>
                    <span class="timer-colon">:</span>
                    <span id="leet-minutes" class="timer-box"></span>
                    <span class="timer-colon">:</span>
                    <span id="leet-seconds" class="timer-box"></span>
                </div>
            </div>
            <div class="daily-container" id="leetcode-daily-container">
                <h4 id="leet-date" class="current-date"></h4>
                <div id="leetcode-daily-content" class="daily-content"></div>
            </div>
        </div>
    </div>
</div>



<div class="allproblems">
    <h1>Problems 🧩</h1>
    <div>        
        <div class="filter-title">
            <h2>Filter Problems</h2>
            <img src="{{ url_for('static', filename='svg/filter.svg') }}" alt="filter" height="45px">
        </div>

        <div class="filterForm">
            <label for="difficulty">Difficulty:</label>
            <select id="difficulty" name="difficulty">
                <option value="">All</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        
            <label for="platform">Platform:</label>
            <select id="platform" name="platform">
                <option value="geeksforgeeks">GeeksForGeeks</option>
                <option value="leetcode">LeetCode</option>
            </select>
            <button onclick="applyfilter()" id="apply">Apply</button>
        </div>
    </div>
    
    <div class="problemtb-container">
        <table id="problemstb">
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Difficulty</th>
                    <th>Accuracy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="problems"></tbody>
        </table>
    </div>

    <div class="pagination">
        <button id="prev" onclick="prevPage()">◄</button>
        <span id="page">1</span>
        <button id="next" onclick="nextPage()">►</button>
    </div>
</div>

{% endblock %}
