{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block body %}
<div>
    <div class="form-title">
        <h1>Login</h1>
    </div>
    <div class="form-container">
        <form method="POST" action="{{url_for('login')}}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required> <br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required> <br>
            
            <div class="button-container">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
