{% extends 'base.html' %} {% block head %}
<title>{{ user.username }}</title>
<script src="{{ url_for('static', filename='js/user.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %} {% block body %}

<h1>Profile</h1>
<script>
    const username = "{{ user.username }}";
</script>

<div class="user-info">
    <div class="avatar">
        <img
            id="avatar"
            src="{{ url_for('static', filename='images/' + user.profile_pic) }}"
            alt="avatar"
            height="300px"
        />
    </div>
    <p id="username"> {{ user.username }} </p>
    {% if current_user.is_authenticated and current_user.username == user.username %}
    <div class="edit-profile">
        <a href="{{ url_for('profile') }}">Edit Profile</a>
    </div>
    {% endif %}
</div>

<div class="statistics">
    <div class="heatmap">
        <h2>Heatmap</h2>
        <select id="calYear" name="calYear">
            <option value="current">Current</option>
            <option value="2023-01-01">2023</option>
            <option value="2022-01-01">2022</option>
        </select>
        <div id="cal-heatmap"></div>
        <a href="#" id="prev">← Previous</a>
        <a href="#" id="next">Next →</a>
    </div>

    <div class="solved-stats" id="solvedStats">
        <h2>Solved</h2>
        
    </div>
</div>


{% endblock %}
